# Ignore all env files
.env
*.env

# Node modules (frontend & backend)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build outputs
/build
/dist

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Optional: Ignore docker compose if you don't want it in Git
# docker-compose*.yml



DB_USER=postgres
DB_HOST=localhost
DB_NAME=loan_app
DB_PASSWORD=Kalpendra@1234??
DB_PORT=5432
